nav{
    width: 100%;
    display: block;
    position: relative;
    float: left;
}

#menu{
    list-style-type: none;
    padding-left: 0;
    position: none;
}

#menu li{
    background-color: rgb(158, 157, 157);
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

#menu a{
    display: block;
    color:rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menu li a:hover{
    background-color: aqua;
    text-decoration: none;
}

#menu li ul{
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

#menu li ul li{
    clear: both;
    width: 100%;
}

#menu ul li:hover,
ul li:focus-within{
    cursor: pointer;
    transition: 0.3s;
}

#menu a:hover{
    color: rgb(0, 0, 0);
}

#menu ul li:hover>ul,
ul li:focus-within>ul,
ul li ul:hover,
ul li ul:focus{
    visibility: visible;
    opacity: 1;
    display: block;
}



/* Código desenvolvido no dia 09/11/2022 */